body {
	margin: 0 auto;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5; 
}

header {
	background-color: #3E4441;
	background-image: url("../images/Sprint.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2em;
	text-align: center;
	color: #F2EEE0;
	background-position: center;


}

.main {
	display: flex;
	width: 100%;
	min-height: 888px;

}

.sidebar {
	order: 1;
	flex: 1;
	padding: 1.5em;
	background-color: #9A6057;

}

.content {
	background-color: #F2EEE0;
	order: 1;
	flex: 5;
	padding: 1.5em;
}